*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; // Fix safari changing size on landscape
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  height: 100%;
}

html, body, div, span, button, input, select, textarea, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, a, em, img, small, strong, b, u, i, center, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, figcaption, footer, header, main, menu, nav, section, summary, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  min-width: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

img {
  vertical-align: middle;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}
