<div class="banner">
  <p>Site under construction ⚠️</p>
</div>

<nav class="nav-top">
  <div class="content content-thin">
    <div class="grid gap-md grid-middle">
      <div class="cell-shrink">
        <p class="large"><b>St. Ives <span class="fgColor-accent">Alive</span></b></p>
      </div>
      <div class="cell">
        <div class="nav-links hidden-until-md">
          {% assign sorted_pages = site.pages | sort:"order" | filter: "nav_link" != "" %}
          {% for node in sorted_pages %}
            {% if page.url == node.url %}
            <div class="nav-link">
              <a href="{{node.url}}" class="active">{{node.nav_link}}</a>
            </div>
            {% else %}
            <div class="nav-link">
              <a href="{{node.url}}">{{node.nav_link}}</a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="cell-shrink">
        <a href="#footer" class="btn btn-accent btn-sm">Contact us</a>
      </div>
    </div>
  </div>
</nav>