---
layout: default
---
<header class="border border-b bgGradient-accent-muted">
  {% include _nav.html %}
  <div class="content content-thin">
    <div class="header-text">
      <h1>
        {{ page.title }}
      </h1>
      <p class="large mt-sm">
        {{ page.subheading }}
      </p>
    </div>
  </div>
</header>

<section class="section-lg">
  <div class="article content content-thin">
    {% for campaign in site.campaigns %}
      <div class="post article">
        <h2>{{ campaign.title }}</h2>
        <p class="mt-sm">{{ campaign.excerpt }}</p>
        <a href="{{ campaign.url }}">Read more</a>
      </div>
    {% endfor %}
  </div>
</section>

{% if content != "" %}
<section class="border border-t">
  <div class="content content-thin article">
    {{ content}}
  </div>
</section>
{% endif %}
