<!DOCTYPE html>
<html>
  <head>
    {% include _head.html %}
  </head>
  <body class="accent-blue">
    <header class="border border-b bgGradient-accent-muted ">
      {% include _nav.html %}
      <div class="content content-thin">
        <div class="header-text">
          <h1>
            {{ page.title }}
          </h1>
        </div>
      </div>
    </header>

    <section class="section-lg">
      <div class="article content content-thin">
        {{ content }}
      </div>
    </section>

    {% include _footer.html %}
  </body>
</html>